apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kub-sample
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mujtabatarar/kubectl_mern_bases.git
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: sample-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true